<h1>SMS Relay</h1>
<div class="row">

  <div class="well col-md-5">
    <div ng-repeat="conv in conversations | orderBy: 'lastMessage':true ">
      <h4>{{conv.name}} - {{conv.number}}</h4>
      <table class="table table-striped">
        <tr class="" ng-repeat="m in conv.messages | orderBy: '-date' | limitTo:5 | orderBy: 'date' ">
          <td>
            <span ng-bind-html-unsafe="m.text | nl2br"></span> <br/>
            <small>{{m.date | date: 'd MMM, H:mm' }}</small>
          </td>
        </tr>
      </table>
      <button class="btn btn-success" ng-click="reply(conv.number)">Reply</button>
    </div>
  </div>

  <div class="col-md-1">
  </div>

  <div class="col-md-6">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="control-label col-sm-3">Phone Number</label>
        <div class="col-sm-5">
          <input ng-model="sms.phoneNumber" type="tel" class="form-control" id="phoneNumber" placeholder="+33 1 23 45 67" />
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" ng-model="sms.text" rows="3"></textarea>
      </div>
      <button id="sendBtn" type="submit" ng-click="send()" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>