logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
conf/gcm.conf

node_modules
.tmp
.sass-cache
app/bower_components
/*.sublime-project
/*.sublime-workspace
